@media (max-width: 768px) {
    
    .grid {
        grid-template-columns: 1fr;
    }

    ul {
        flex-direction: column;
        padding-bottom: 10px;
        padding-right: 0px;
       
    }


    .h1 {
        width: 100%;
        padding-right: 0;
        justify-content: center;
        
    }

}

   